html, body, .container, .row, .column {
  height: 100%;
}

body, .box {
    background: rgba(110,53,157,1);
    background: -moz-linear-gradient(top, rgba(110,53,157,1) 0%, rgba(222,222,222,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(110,53,157,1)), color-stop(100%, rgba(222,222,222,1)));
    background: -webkit-linear-gradient(top, rgba(110,53,157,1) 0%, rgba(222,222,222,1) 100%);
    background: -o-linear-gradient(top, rgba(110,53,157,1) 0%, rgba(222,222,222,1) 100%);
    background: -ms-linear-gradient(top, rgba(110,53,157,1) 0%, rgba(222,222,222,1) 100%);
    background: linear-gradient(to bottom, rgba(110,53,157,1) 0%, rgba(222,222,222,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e359d', endColorstr='#dedede', GradientType=0 );
    color: #111;
    height: 100%;
}

a{
  color: #111;
}

#menu {
}

#menu h2 {
    margin: 0;
}

#menu li {
    text-align: center;
    list-style: none;
    margin-left: 25px;
    margin-right: 25px;
}

#menu li img{
  width: 100%;
  height: auto;
}

#menu .button {
    background: rgba(110,53,157,1);
    background: -moz-linear-gradient(top, rgba(110,53,157,1) 0%, rgba(222,222,222,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(110,53,157,1)), color-stop(100%, rgba(222,222,222,1)));
    background: -webkit-linear-gradient(top, rgba(110,53,157,1) 0%, rgba(222,222,222,1) 100%);
    background: -o-linear-gradient(top, rgba(110,53,157,1) 0%, rgba(222,222,222,1) 100%);
    background: -ms-linear-gradient(top, rgba(110,53,157,1) 0%, rgba(222,222,222,1) 100%);
    background: linear-gradient(to bottom, rgba(110,53,157,1) 0%, rgba(222,222,222,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e359d', endColorstr='#dedede', GradientType=0 );
    width: 100%;
    font-size: 2rem;
    line-height: 2.6;
    height: 50px;
    margin: auto;
}

.content{
    background: transparent;
    -webkit-box-shadow: inset 0px 0px 2px 4px rgba(255,255,255,.2);
    -moz-box-shadow: inset 0px 0px 2px 4px rgba(255,255,255,.2);
    box-shadow: inset 0px 0px 2px 4px rgba(255,255,255,.2);
    padding: 0 25px;
    text-align: center;
}

.content h2{
  clear: both;
  font-size: 3em;
  font-weight: bold;
  text-align: left;
}

#start ol li {
    margin: auto;
}

#o_mnie .me{
  font-size: 2.2em;
}

#o_mnie .about_me{
    clear: right;
    display: block;
    font-size: 1.5em;
}

#o_mnie .home_staging{
  text-transform: uppercase;
}

#o_mnie img{
  float: right;
  height: auto;
  width: 150px;
}

#o_mnie p{
  margin-top: 25px;
}

#kontakt .headline{
  font-size: 1.2em;
  font-weight: bold;
}

#kontakt .phone, #kontakt .email, #kontakt .skype{
  clear: left;
  display: block;
}

#galeria h3{
  clear: both;
  text-transform: capitalize;
}

#galeria img{
  float: left;
  height: auto;
  margin: 5px;
  width: 30%;
}

#partnerzy img{
  float:left;
  height: auto;
  margin: 15px;
  width: 150px;
}

#opinie .opinion{
  margin: 10px;
}

#opinie .opinion .author{
  color: #444;
  font-weight: bold;
}

#opinie .opinion .text{

}
